<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.data.management.mapper.DataManageMapper">

    <select id="queryListByTypeAndContext" resultType="cn.data.management.entity.DataManage" parameterType="java.util.Map">
        select 
        	id               as     "id",
			team_name        as		"teamName",
			ip               as		"ip",
			upload_by        as		"uploadBy",
			create_time      as		"createTime",
			update_time      as		"updateTime",
			view_count       as		"viewCount",
			url              as		"url",
			data_name        as		"dataName",
			data_desc        as		"dataDesc",
			file_name        as		"fileName"
         from t_data_manage where 1 =1 
         <if test="serchType == 0">
		    AND data_name like concat(concat('%',#{serchContext}),'%')
		    
		  </if>
		  <if test="serchType == 1">
		    AND team_name like concat(concat('%',#{serchContext}),'%')
		  </if>
    </select>
</mapper>
